# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Include phony packages for running tests
!pkg/installer/testdata/packages/*/*
!pkg/status/testdata/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# OS files
*.DS_Store

#Misc files used in dev
config.json
config.yaml