name: Ensure PR builds

# Trigger on every pull request to main
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true

    - name: Build
      shell: pwsh
      run: |
        New-Item -Path ./build -ItemType Directory -Force | Out-Null
        go build -v -o ./build/gorilla.exe ./cmd/gorilla

    - name: Upload gorilla.exe artifact
      uses: actions/upload-artifact@v4
      with:
        name: gorilla-exe-pr
        path: ./build/gorilla.exe
        if-no-files-found: error
