name: go-test
on:
  push:
    branches:
      - main
    paths:
      - cmd/**
      - pkg/**
      - utils/**
      - integration/**
      - Makefile
      - go.mod
      - go.sum
      - .github/workflows/go-test.yml
  pull_request:
    paths:
      - cmd/**
      - pkg/**
      - utils/**
      - integration/**
      - Makefile
      - go.mod
      - go.sum
      - .github/workflows/go-test.yml

permissions:
  contents: read

jobs:

  build:
    name: Build
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
    - name: Set Git config
      run: git config --global core.autocrlf false

    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true

    - name: Lint
      run: make lint

    - name: Test
      run: make test
