name: go-test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:

  build:
    name: Build
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
    - name: Set Git config
      run: git config --global core.autocrlf false

    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache: true

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Test
      run: go test -race -cover ./...

    - name: UI lint
      run: make ui-lint

    - name: UI test
      run: make ui-test
